##### ipsec.conf - strongSwan IPsec configuration file
config setup
    charondebug="ike 4, knl 4, cfg 4, net 4, esp 4, dmn 4,  mgr 4"

conn home-to-office
    authby=secret
    keyexchange=ikev1
    ike=aes128-sha1-modp1024,aes128-sha256-modp1024,aes256-sha1-modp1024,aes256-sha256-modp1024
    ikelifetime=86400s
    esp=aes128-sha256,aes128-sha256-modp1024,aes256-sha256,aes256-sha256-modp1024
    dpdaction=restart
    dpddelay=30s
    dpdtimeout=120s
    rekey=no
    left={{ ip_remote }}
    leftid={{ ip_remote }}
    leftsubnet={{ subnet_remote }}
    right={{ ip_local.content }}
    rightsubnet={{ subnet_local }}
    rightid={{ ip_local.content }}
    type=tunnel
    auto=start
